$mainColor: rgba(13, 7, 43, 0.9);

html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  position: fixed;
  z-index: 1;
  font-style: normal;
  background-color: $mainColor;
  top: 0;
  width: 100vw;
  height: 50px;
  .pc {
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 1;
    color: whitesmoke;
    .left {
      width: 100%;
      text-align-last: left;
      padding-left: 1em;
      text-align: center;
    }
    .right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 1em;
      &__link {
        margin: 0 10px;
      }
    }
  }
  .mobi {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 1;
    color: whitesmoke;
    .blur {
      position: absolute;
      filter: blur(12px); //!!!!!!!!!!!!!!!!!!!
      width: 100%;
      height: 100%;
    }
    .panel {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: $mainColor;
      transform: translateX(101%) translateY(-101%);
      transition: transform 0.2s;
      &-animation {
        transform: translateX(0%);
      }
      &__link {
        font-size: 1.4rem;
        margin: 0.5em 0;
      }
    }
    .left {
      width: 100%;
      text-align: left;
      margin: 1em;
    }
    .right {
      width: 100%;
      height: 100%;
      position: relative;
      .mobiBtn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 1em;
        z-index: 1;
        height: 100%;
        width: 35px;
        .btn {
          margin-top: 15px;
          width: 35px;
          height: 1px;
          background-color: #fff;
          &::after,
          &::before {
            content: "";
            position: absolute;
            background-color: #fff;
            width: 35px;
            height: 1px;
            top: 25px;
          }
          &::before {
            top: 35px;
          }
        }
      }
      .right__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff31;
      }
    }
  }
}
@media (min-width: 576px) {
  nav {
    height: 60px;
    .mobi {
      display: none;
    }
    .pc {
      display: flex;
      font-size: 1.2rem;
      height: 60px;
      .left {
        width: 100%;
        text-align-last: left;
        padding-left: 1em;
        text-align: center;
      }
      .right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;
        &__link {
          margin: 0 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) {

}
